@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-primary: 'Sora', sans-serif;
    --font-primary-color: #ffffff;
    --font-secondary-color: #c9c9c9;
    --color-gray: #4a4a4a;
    --color-red: #b8002e;
    --color-orange: #d18007;
    --color-orange-black: #FF3300;
    --color-purple: 40007c;
    --border: 1px solid #000000;
    --border-key: 2px solid #000000;
    --case-keyboard: #282828;
    /* #1 KEYBOARD COLORS */
    --key-color-gray: linear-gradient(180deg, #282828, #202020);
    --key-color-gray-bf: linear-gradient(90deg, #232323, #4a4a4a);
    --key-color-black: linear-gradient(180deg, #161616, #0f0f0f);
    --key-color-black-bf: linear-gradient(90deg,#161616, #242424);
    --key-color-orange: linear-gradient(180deg, #FF4C16, #FF3300);
    --key-color-orange-bf: linear-gradient(90deg,#C03701, #FF5E00);
    /* #2 KEYBOARD COLORS */
    --key-color-white: linear-gradient(180deg, #e9e9e9, #e6e6e6);
    --key-color-white-bf: linear-gradient(90deg, #cccccc, #e4e2e2);
    --key-color-gold: linear-gradient(180deg, #ff7b00, #ff3c00);
    --key-color-gold-bf: linear-gradient(90deg, #f56e00, #d18007);
    --key-color-purple: linear-gradient(180deg, #41227c, #3b0764);
    --key-color-purple-bf: linear-gradient(90deg, #4b0e7a, #40007c);
    /* #3 KEYBOARD COLORS */
    --key-color-red: linear-gradient(180deg, #9c0027, #8d0013);
    --key-color-red-bf: linear-gradient(90deg, #8d0023, #b8002e);
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* main {
    height: 25em;
    width: 80em;
    border: 1px solid red;
} */

.container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-primary);
    margin-bottom: 1.2rem;
}

.container-title span {
    font-weight: 300;
}

.keycaps-select-container {
    display: flex;
    flex-direction: column;
}

.keycaps-select-container div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.keycaps-select-container div input {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 9pt;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border: var(--border);
    border-radius: 20px;
    color: var(--font-primary-color);
}

.keycaps-select-container div input:first-child {
    background-image: linear-gradient(to bottom, #232323 0%, #232323 80%, #FF3300 20%);
}

.keycaps-select-container div input:nth-child(2) {
    background-image: linear-gradient(to bottom, #3b0764 0%, #3b0764 20%, #f56e00 20%);
}

.keycaps-select-container div input:last-child {
    background-image: linear-gradient(to bottom, #b8002e 0%, #b8002e 80%, #000000 20%);
}

.container-keyboard {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    background: var(--case-keyboard);
    padding: 5px;
    border-radius: 5px;
    gap: 2px;
}

.rowOne,
.rowTwo,
.rowThree,
.rowFour,
.rowFive,
.rowSix {
    width: 100%;
    display: flex;
    gap: 4px;
}

button {
    color: var(--font-secondary-color); 
    height: 62px;
    width: 62px;
    cursor: pointer;
    position: relative;
    border: none;
    border-radius: 8px;
    border: var(--border-key);
    background: var(--key-color-gray);
    overflow: hidden;
}

button::before {
    content: '';
    position: absolute;
    height: 75%;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: var(--key-color-gray-bf);
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25);
    border-radius: 8px;
}

button:active:before {
    top: 4px;
    left: 6px;
    bottom: 10px;
    right: 10px;
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.15);
}

button i,
button span {
    font-family: var(--font-primary);
    font-size: 9pt;
    position: absolute;
    top: 40%;
    left: 40%;
    margin: 0;
    transform: translate(-40%, -40%);
}

button:active i,
button:active span{
    top: 45%;
    left: 45%;
    transform: translate(-45%, -45%);
}

.rowTwo button:nth-child(14) {
    width: 8rem;
}

.rowThree button:nth-child(1) {
    width: 6rem;
}

.rowThree button:nth-child(14) {
    width: 5.9rem;
}

.rowFour button:nth-child(1) {
    width: 7rem;
}

.rowFour button:nth-child(13) {
    width: 9rem;
}

.rowFive button:nth-child(1) {
    width: 9rem;
}

.rowFive button:nth-child(12) {
    width: 7rem;
}

.rowSix button:nth-child(-n+3) {
    width: 5rem;
}

.rowSix button:nth-child(7) {
    width: 5rem;
}

.rowSix button:nth-child(4) {
    width: 24.2rem;
}

.gray-key {
    background: var(--key-color-gray);
}

.gray-key::before {
    background: var(--key-color-gray-bf);
}

.black-key {
    background: var(--key-color-black);
    color: var(--color-orange);
}

.black-key::before {
    background: var(--key-color-black-bf);
}

.orange-key {
    background: var(--key-color-orange);
}

.orange-key::before {
    background: var(--key-color-orange-bf);
}

.white-key {
    background: var(--key-color-white);
}

.white-key::before {
    background: var(--key-color-white-bf);
}

.gold-key {
    background: var(--key-color-gold);
}

.gold-key::before {
    background: var(--key-color-gold-bf);
}

.purple-key {
    background: var(--key-color-purple);
    color: var(--color-orange);
}

.purple-key::before {
    background: var(--key-color-purple-bf);
}

.red-key {
    background: var(--key-color-red);
}

.red-key::before {
    background: var(--key-color-red-bf);
}
